/* Colors Can Be Used
-- #2890a7 (light blue)
-- #303030 (dark)
-- #f14833 (red)
*/

/* Global Styles (Start)*/
:root {
  --header-back-color: #303030;
  --header-font-color: #ededed;
  --header-hover-color: #f14833;
}
* {
  padding: 0;
  margin: 0;
  margin-bottom: 0 !important;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit;
}
body {
  background-color: #f2f3f7;
}
.container {
  max-width: 100% !important;
  padding: 0 60px ;
}
.pointer {
  cursor: pointer;
}
/* Global Styles (End)*/

/* Header (Start) */
header {
  background-color: var(--header-back-color);
}
header a {
  color: var(--header-font-color);
}
header a:hover {
  color: var(--header-hover-color);
  transition: 0.2s;
}
header nav img {
  width: 50px;
  height: 50px;
}
  /* Header (End) */
